{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
      "no-return-assign": 0,
      "no-unused-expressions": 0,
      "linebreak-style": [ 2, "unix" ],
      "no-console": 0,
      "new-cap": [2, {"newIsCap": true, "capIsNew": false}],
      "no-use-before-define": 0,
      "camelcase": 0,
      "no-param-reassign": [2, { "props": false }],
      "consistent-return": 0,
      "no-confusing-arrow": ["error", {"allowParens": true}],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "jsx-a11y/no-static-element-interactions": 0,
      "react/jsx-indent": 0,
      "array-callback-return": 0,
      "react/prefer-stateless-function": 0,
      "react/forbid-prop-types": 0,
      "comma-dangle": 0,
      "arrow-body-style": 0
    }
}